{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="jquery-1.11.3.min.js"></script>
    <title>BetterCSV</title>
</head>
<body>
<a href="{% url "index" %}">Home</a>
<a href="/admin">Administration</a>
<a href="{% url "batch_selection" %}">Run a batch</a>
<a href="{% url "file_upload" %}">Upload a File</a>
<a href="{% url "download_list" %}">Download Results</a>
<a href="{% url "view_data_selection" %}">View Data</a>
  {% block content %}
  {% endblock %}
</body>
</html>