{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="/static/js/viewData.js"></script>
    <script type="text/javascript">
        window.onload=function(){
            getFilesInFolder();
        };
        $(document).on('change','.folder',function(){
            getFilesInFolder();
        });
    $(document).on("click", "#runBtn", function(){
        console.log("We run it");
       $('#loading').show();
       $('#runFrm').hide();
       runBatch();
    });
    </script>
     <h4>Select a file from the list</h4>
    <form action="{% url "view_data" %}" method="post">{% csrf_token %}
    <p>Folder</p>
    <select name="folder" class="folder">
        {% for f in folders %}
            <option value="{{ f.folder_name }}">{{ f.folder_name }}</option>
        {% endfor %}
    </select>
    <br><br>
    <p>File</p>
    <select name="filename" id="filename">
{#   folder     {% for f in files %}#}
{#            <option value="{{ f }}">{{ f }}</option>#}
{#        {% endfor %}#}
    </select>
    <br><br>
    <input type="submit" value="View">
    </form>
{% endblock %}